* {
  margin: 0;
  padding: 0;
}
.container {
  /*background: linear-gradient(to right bottom, #969879, #484f34); */
  background: url(1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-wrapper {
  background-color: #333;
  min-width: 450px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #0c2419;
  margin-bottom: 10px;
}
.header h1 {
  color: #fff;
  text-align: center;
  margin: 30px 0;
}
.task-input {
  outline: none;
  width: 260px;
  padding: 15px;
  margin-right: 25px;
  font-size: 20px;
  color: #ccc;
  background-color: #11462e8f;
  border: 1px solid #d1d0d3;
  border-radius: 10px;
}
.button-add {
  width: 70px;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  background-color: #d1d0d3;
  cursor: pointer;
}

.list-item {
  display: flex;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  max-height: 30px;
}

.button-complete,
.button-delete,
.button-edit {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  border-radius: 50%;
}

.button-complete {
  color: #666;
  margin-right: 10px;
}
.button-edit {
  color: #666;
  margin-right: 10px;
}
.button-delete {
  color: #666;
}
.complete {
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: #cd5700;
  opacity: 0.6;
}
.list {
  width: 220px;
  background-color: #12343b;
  border: none;
  color: #ccc;
  font-size: 20px;
  padding-left: 10px;
  margin-right: 15px;
}

input:focus,
button:focus {
  outline: none;
}

.button-complete:hover::before,
.button-delete:hover::before,
.button-edit:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #d9d8ce;
}

.button-complete:hover,
.button-delete:hover,
.button-edit:hover {
  color: #d9d8ce;
  box-shadow: 0 0 5px #d9d8ce;
  text-shadow: 0 0 5px #d9d8ce;
}
